@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) nav-link-custom" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) nav-link-custom" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-link-custom" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) nav-link-custom" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>

<style>
    .nav-link-custom {
        color: forestgreen;
        font-weight: bold;
    }

        .nav-link-custom:hover {
            color: darkgreen;
        }

    .btn-forest-green {
        background-color: forestgreen;
        border-color: forestgreen;
        color: white;
    }

        .btn-forest-green:hover {
            background-color: darkgreen;
            border-color: darkgreen;
        }
</style>