@{
    ViewData["Title"] = "Doctor Dashboard";
}

<h1 class="text-center my-4">Welcome to Doctor Dashboard</h1>

<div class="container mt-5">
    <div class="text-center">
        <a asp-area="Doctor" asp-controller="Appointment" asp-action="Index" class="btn btn-primary">View My Appointments</a>
    </div>
    <div class="mt-5 text-center">
        <a href="/" class="btn btn-primary"><i class="bi bi-arrow-left"></i>Back to Home</a>
    </div>
</div>

