@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-center mt-5">
    <a href="/Admin/Doctor/AddDoctor" class="btn btn-primary btn-lg mx-2">Add Doctor</a>
    <a href="/Admin/Doctor/ViewDoctors" class="btn btn-success btn-lg mx-2">View Doctors List</a>
    <a href="/Admin/Patient/ViewPatients" class="btn btn-info btn-lg mx-2">View Patients</a>
</div>



